.footer {
  background: #041c2b;
  color: white;
  padding: 3rem 0 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto 2rem;
  padding: 0 1rem;
  padding-bottom: 2rem;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30%;
}

.footer-logo {
  width: 120px;
  height: auto;
}

.footer-brand p {
  color: #ccc;
  line-height: 1.6;
}
.footer-links {
  margin-top: 4rem;
}


.footer-links h4 {
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.footer-links a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: white;
}

.footer-bottom {
  border-top: 1px solid #0a3147;
  padding-top: 1.5rem;
  text-align: center;
  color: #ccc;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 1rem 0;
}


@media (max-width: 1000px) {
    .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}


@media (max-width: 480px) {
    .footer-content {
    gap: 1.5rem;
  }
}